<h2 class="fat-text">No account?</h2>
<hr>
<p>Go to <a href="{{ path('security_register') }}"> Register</a>. </p>
<h2 class="fat-text">Forgot password?</h2>
<hr>
<p>Go to <a href="">Forgotten password</a>. </p>