{% extends 'base.html.twig' %}
{# @var localLang \App\Service\LocalLanguage #}
{# @var dict \App\Service\Lang\ILanguagePack #}
{% block title %}{% endblock %}
{% block body %}

    <div class="container pt-2 max-width-container bg-container mt-container pb-container">
            <div class="row row-lg-eq-height">
                <div class="col-lg-9">
                    <div class="main_content">
                        <h2 class="text-dark">{{ dict.changePassword }}</h2>
                        <hr>
                        <div class="container">
                            <div class="col-md-6">
                                {% embed 'security/lang/' ~ localLang.localLang ~ '/reset-password.html.twig' %} {% endembed %}
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
