{% extends 'base.html.twig' %}
{# @var localLang \App\Service\LocalLanguage #}
{# @var dict \App\Service\Lang\ILanguagePack #}
{% block title %}{{ dict.websiteName }} - {{ dict.forgottenPassword }}{% endblock %}

{% block body %}
    <div class="container pt-2 max-width-container bg-container mt-container pb-container">
        <div class="row row-lg-eq-height">
            <div class="col-lg-9">
                <h2 class="alert alert-success">Email sent! Expires in 30 minutes, be quick!</h2>
            </div>
        </div>
    </div>
{% endblock %}