{# @var charr \App\ViewModel\CharacteristicViewModel #}
<div class="characteristics-holder">
    {% for charr in characteristics %}
        <section class="our-offers">
            {% if is_granted('ROLE_ADMIN') %}
                <div class="text-right">
                    <p class="btn btn-primary btn-sm characteristic-edit" charId="{{ charr.id }}">
                        Редакция »
                    </p>
                </div>
            {% endif %}
            <div class="icon"><i class="fa {{ charr.icon }}" aria-hidden="true"></i></div>
            <div class="text"><h2> {{ charr.title }} </h2>
                {{ charr.body }}
            </div>
        </section>
    {% endfor %}
</div>