{% extends 'users/profile-page.html.twig'%}
{# @var dict \AppBundle\Service\Lang\ILanguagePack #}
{# @var twigUtil \AppBundle\Utils\TwigUtil #}
{% block sectionContent %}
    <h2 class="text-dark">{{ dict.changePassword }}</h2>
    <hr>
    <div class="container">
        <div class="col-md-6">
            {% embed 'users/lang/' ~ dict.localLang ~  '/change-password-form.html.twig' %} {% endembed %}
        </div>
    </div>
{% endblock %}