<h3 class="text-dark">Forgotten Password</h3>
<p>Write your username or E-Mail</p>
<form method="post" action="{{ path('find_me') }}">
    <input type="hidden" name="token" value="{{ csrf_token('token') }}">
    <div class="form-group">
        <label for="username">Username / Email</label>
        <input type="text" required class="form-control" id="username" name="username">
    </div>
    <div class="form-group">
        <button class="btn btn-outline-dark">Search</button>
    </div>
</form>