{% extends 'base.html.twig' %}
{# @var localLang \AppBundle\Service\LocalLanguage #}
{# @var dict \AppBundle\Service\Lang\ILanguagePack #}
{% block title %}{{ dict.websiteName }} - {{ dict.notifications }}{% endblock %}

{% block body %}
    <div class="container pt-2 max-width-container bg-container mt-container pb-container">
        <div class="row row-lg-eq-height">
            <!-- Main Content -->
            <div class="col-lg-9">
                {% for noti in notis %}
                    {% embed 'partials/notifications/single-notification.html.twig' with {'noti':noti} %} {% endembed %}
                {% endfor %}
                {% if notis|length < 1 %}
                    <h2 class="text-success">{{ dict.noNotifications }}</h2>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
