{% extends 'base.html.twig' %}

{% block title %} Забравена парола - Затварачки БГ {% endblock %}
{% block body %}
    <div class="fit-in-screen clearfix"> <!-- not closed tag on purpose -->

    <h1 class="fat-text">Забравена парола</h1>
    <hr>
    <p>Успешно изпратихме код до {{ user.email }}. </p>
    <p>След като го получите във вашата поща, насочете се към <a href="/recover-password">забравена парола</a>.</p>
{% endblock %}