{% extends 'base.html.twig' %}

{% block title %} Забравена парола - Затварачки БГ {% endblock %}
{% block body %}
    <div class="fit-in-screen clearfix">

        <h1 class="fat-text">Забравена парола</h1>
        <hr>
        <div class="clearfix">
            <section class="find-user col-md-6">
                <label for="target-username">Потр. име или Е-Mail</label>
                <input id="target-username" name="tagetUsername" class="form-control" maxlength="50">
                <div class="object-right">
                    <p class="btn btn-primary btn-xs search-user" onclick="">Напред »</p>
                </div>
            </section>
        </div>

        <section class="confirm-user col-md-6" id="confirm-user"><!-- ajax --></section>

    </div>

    <script>
        $('.search-user').click(function () {
            let targetUsername = $("#target-username").val();
            $.ajax({
                url: "/search-user-for-recovery/" + targetUsername
            })
                .done(function (data) {
                    // insert data into div
                    $("#confirm-user").html(data);
                });
        })
    </script>
{% endblock %}