<h2 class="alert alert-danger">Страницата не беше намерена :-(</h2>
<div class="row">
    <div class="col-md-6">
        <img src="{{ asset('img/404.jpg') }}" width="100%">
    </div>
    <div class="col-md-4">
        <h3 class="text-info">Status code: 404</h3>
        <p class="text-danger">Страницата "{{ app.request.uri }}" не съществува.</p>
    </div>
</div>