{% extends 'admins/admin-panel.html.twig' %}
{# @var dict \App\Service\Lang\ILanguagePack #}
{# @var twigUtil \App\Utils\TwigUtil #}

{% block sectionContent %}
    <h2>{{ dict.edit }}: {{ model.categoryName }}</h2>
    <hr>
    <div>
        <div class="col-md-6">
            {% embed 'admins/partials/category-form.html.twig' %} {% endembed %}
        </div>
    </div>
{% endblock %}