{% extends 'base.html.twig' %}
{# @var dict \App\Service\Lang\ILanguagePack #}
{% block title %}{{ dict.websiteName }} - Privacy Policy{% endblock %}

{% block body %}
    <div class="container pt-2 max-width-container bg-container mt-container pb-container">
        <div class="row">
            <div class="col-lg-9">
                <h3>Privacy Policy</h3>
                <hr>
                <h4>Your data in Zatvarachki.bg</h4>
                <p>Upon register, you need to provide your email address.</p>
                <p>You can also provide a phone number or email but they are not required.</p>
                <p>Upon removing your account we will <strong>permanently</strong> remove your data.</p>
            </div>
        </div>
    </div>
{% endblock %}