<div id="{{ modalId }}" class="modal-container">
    <div class="modal-content">
        <div class="text-right">
            <span class="close-modal"><i class="fas fa-times"></i> </span>
        </div>
        <div class="container modal-main-content text-center">
            {% block modalContent %}<p>ModalContent</p>{% endblock %}
        </div>
    </div>
</div>