<div class="text-danger">
    <ul style="list-style: none;">
        {% for err in twigUtil.errorToArray(form_errors(field)) %}
            <li>{{ localLang.forName(err) }}</li>
        {% endfor %}
    </ul>
</div>