<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<!-- Your Chat Plugin code -->
<!-- TODO: page_id env variable -->
<div class="fb-customerchat"
     attribution=setup_tool
     page_id="1259618297416234"
     theme_color="#ff7e29">
</div>