{# @var product \App\Entity\Product #}
{# @var information \App\Service\TwigInformer #}

<h2>Contacts</h2>
<hr>
<p class="m-0">Do have questions about {{ product.name }}?</p>
<small>Perhaps you want to know which sizes of cans our sealers support or how to buy.</small>


<p class="mt-2">You can call: <strong>{{ information.contacts.whatsapp }}</strong></p>
<p>Or contact us via one of the following ways:</p>
<div class="d-md-flex w-50 flex-wrap justify-content-around">
    <div class="m-1 facebook-message-button-container">
        <span class="btn btn-outline-primary facebook-message-button"><i class="fa fa-facebook"></i> Facebook</span>
    </div>
    <div class="m-1">
        <a href="https://wa.me/{{ information.contacts.whatsapp }}"
           target="_blank"
           class="btn btn-outline-success">
            <i class="fa fa-whatsapp"></i> Whatsapp
        </a>
    </div>
    <div class="m-1">
        <button id="quick-contact-btn" class="btn btn-outline-secondary">
            <i class="fa fa-envelope"></i> {{ dict.email }}
        </button>
    </div>
</div>