<h2 class="fat-text">Не сте регистриран?</h2>
<hr>
<p>Насочете се към <a href="{{ path('security_register') }}">регистрация</a>. </p>
<h2 class="fat-text">Забравена парола?</h2>
<hr>
<p>Насочете се към <a href="{{ path('forgotten_password') }}">забвавена парола</a>. </p>