<form method="post">
    <input type="hidden" value="NOooooooooooooooooo" required id="oldPass" name="edit_password[oldPassword]" class="form-control">

    <div class="form-group">
        <label for="newPass">Нова парола</label>
        <input type="password" required id="newPass" name="edit_password[newPassword]" class="form-control">
        {% embed 'partials/errors/field-error-handler.html.twig' with {'field':form1.newPassword} %} {% endembed  %}
    </div>
    <div class="form-group">
        <label for="confPass">Потвърдете паролата</label>
        <input type="password" required id="confPass" name="edit_password[confPassword]"
               class="form-control">
        {% embed 'partials/errors/field-error-handler.html.twig' with {'field':form1.confPassword} %} {% endembed  %}
    </div>
    <input type="hidden" name="token" value="{{ csrf_token('token') }}">
    <div class="text-right">
        <button type="submit" class="btn btn-outline-dark">Запазване</button>
    </div>
</form>