{% extends 'base.html.twig' %}

{% block title %}{{ dict.websiteName }} - {{ dict.contacts }}{% endblock %}
{% block body %}

    <div class="fit-in-screen clearfix">

        <h1 class="fat-text">{{ dict.contacts }}</h1>
        <hr>
        {% block contacts %}
            <section>
                {% if info is defined and info != null %}
                    <h2 class="alert alert-success">{{ info }}</h2>
                {% endif %}
                {% embed 'partials/forms/contact-form.html.twig' %} {% endembed %}
            </section>
        {% endblock %}

    </div>

{% endblock %}