{# localLang \App\Service\LocalLanguage #}
<h2>{{ localLang.dictionary.forgottenPassword }}</h2>
{% embed 'mailing/partials/lang/' ~ localLang.localLang ~ '/forgotten-password.html.twig' %} {% endembed %}
<br>
<a href="{{ url('reset_password') }}?username={{ user.username }}&token-pass={{ passwordRecovery.token }}">Reset Password</a>