{% extends 'base.html.twig' %}
{# @var localLang \AppBundle\Service\LocalLanguage #}
{# @var dict \AppBundle\Service\Lang\ILanguagePack #}
{% block title %}{{ dict.websiteName }} - {{ dict.forgottenPassword }}  {% endblock %}

{% block body %}
    <div class="container pt-2 max-width-container bg-container mt-container pb-container">
            <div class="row row-lg-eq-height">
                <div class="col-lg-9">
                    <div class="main_content">
                        {% if error %}
                            <h2 class="alert alert-danger">{{ error }}</h2>
                        {% endif %}
                        {% embed 'security/lang/' ~ localLang.localLang  ~ '/forgotten-password-choose-user.html.twig' %} {% endembed %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

