{% extends 'base.html.twig' %}
{# @var localLang \AppBundle\Service\LocalLanguage #}
{% block title %}{{ localLang.websiteName }} - {{ localLang.forgottenPassword }}  {% endblock %}

{% block body %}


    <div class="page_content">
        <div class="container">
            <div class="row row-lg-eq-height">
                <div class="col-lg-9">
                    <div class="main_content">
                        {% if error %}
                            <h2 class="alert alert-danger">{{ error }}</h2>
                        {% endif %}
                        {% embed 'partials/lang/' ~ localLang.getLocalLang  ~ '/forgotten-password-choose-user.html.twig' %} {% endembed %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

