{% extends 'base.html.twig' %}
{% block title %}Forgotten password{% endblock %}
{% block body %}
    {% embed 'partials/banner.html.twig' %} {% endembed %}

    <div class="page_content">
        <div class="container">
            <div class="row row-lg-eq-height">
                <div class="col-lg-9">
                    <div class="main_content">
                        <h2 class="text-dark">{{ localLang.changePassword }}</h2>
                        <hr>
                        <div class="container">
                            <div class="col-md-6">
                                {% embed 'partials/lang/' ~ localLang.getLocalLang ~ '/reset-password.html.twig' %} {% endembed %}
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('styles/js/custom.js') }}"></script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/styles/category.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/styles/contact_responsive.css') }}">
{% endblock %}
