{% extends 'admins/admin-panel.html.twig' %}
{# @var dict \App\Service\Lang\ILanguagePack #}
{# @var information \App\Service\TwigInformer #}
{# @var twigUtil \App\Utils\TwigUtil #}
{% block sectionContent %}
    <h2>{{ dict.addReceipt }}</h2>
    <hr>
    <div class="row">
        <div class="col-md-6">
            {% embed 'admins/partials/receipt-form.html.twig' %} {% endembed %}
        </div>
    </div>
{% endblock %}

{% block sectionScripts %}
    <script src="{{ asset('style/js/img-preview.js') }}"></script>
    <script>
        ImagePreviewManager.attachEvent('receiptImage', 'imgPrev');
    </script>
{% endblock %}